# Environment vars file
*.env

# Virtual environments
env/
venv/
.env
.venv

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Django files
*.log
*.pot

# IDE files
.idea
.vscode

# Security-related
settings.ini
db.sqlite3