{% load static %}

<html lang="en_US">

<head>
    <meta charset="utf-8">
    <title>{{ question.question_text }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    <div class="container">
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>
                    <h1>{{ question.question_text }}</h1>
                </legend>
                <i>Published since {{ question.publish_date }}</i>
                {% if question.end_date %}
                <br><i><b>Ends at {{ question.end_date }}</b></i>
                {% endif %}
                <hr class="solid">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                {% endfor %}
                <hr class="solid">
                <input type="submit" value="Vote">
            </fieldset>
        </form>
        <a href="{% url 'polls:index' %}">Home</a> | <a href="{% url 'polls:results' question.id %}">View Results</a>
    </div>
</body>

</html>