{% load static %}

<html lang="en_US">

<head>
    <meta charset="utf-8">
    <title>KU Polls</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>KU Polls</h1>
        Recent Polls
        {% if latest_questions %}
        <ul>
            {% for question in latest_questions %}
            <li>
                <div class="card">
                    <a href="{% url 'polls:details' question.id %}">{{ question.question_text }}</a><br>
                    <span><i>Published {{ question.publish_date }}</i></span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available at this moment.</p>
        {% endif %}
    </div>
</body>

</html>