body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: azure;
}

ul {
    list-style: none;
}

a {
    color: black;
}

div.container {
    margin: 10rem 5rem;
}

div.top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

div.top>h1 {
    flex-shrink: 1;
}

div.top>span{
    flex-shrink: 0;
    text-align: right;
}

div.card {
    padding: 2rem;
    background-color: cornflowerblue;
    margin-top: 0.5rem;
    color: ivory;
    font-size: large;
    border-radius: 0.5rem;
    box-shadow: none;
    transition: 0.3s;
}

div.card:hover {
    box-shadow: 0 0.2rem 5px lightblue;
}

div.card a {
    color: ivory;
}

div.card span {
    font-size: medium;
    color: cornsilk;
}

button {
    font-family: 'IBM Plex Mono', monospace;
}